*{
    margin: 0;
    padding: 0;
}
.centratura{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centratura section{
    padding: 10px;
}
.speciale{
    display: none;
}

header{
    background-color: #0084FD;
}
/* header */
@media all (max-width: 1000px){
    .centratura{
        width: 70%;
    }
    .hamburghermenu{
        display: none;
    }
    .speciale{
        display: ;
    }
}